<!doctype html>
<title>{% block title %}{% endblock %} - Acebook</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <a href="/">
    Acebook
  </a>
  <ul>
    {% if g.user %}
      <li><a href="profile">{{ g.user.username }}'s Profile</a></li>
      <li><a href="{{ url_for('auth.friends') }}">Friends</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
    
  </ul>
  <img class="logo" src="{{ url_for('static', filename='logo.jpg') }}" style="width:200px;">
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
